<div class="jumbotron">
    <div class="row">
        <span class="col-md-2">
            <input type="text" class="form-control" placeholder="Название" ng-model="gcc.filterName">
        </span>
        <span class="col-md-3">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span style="opacity: 0.4;" ng-class="{hidden: gcc.filterGroup}">Группы</span>
                    <span ng-class="{hidden: !gcc.filterGroup}" ng-bind="gcc.filterGroup"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a ng-click="gcc.setFilterGroup()">&nbsp;</a></li>
                    <li ng-repeat="group in gcc.getModel().groups">
                        <a ng-bind="group" ng-click="gcc.setFilterGroup(group)"></a></li>
                </ul>
            </div>

        </span>
        <span class="col-md-4" class="input-group-addon">
            <input type="checkbox" ng-model="gcc.filterBinded"/> Непривязанные к телепрограмме
        </span>
    </div>
</div>

<p>
    Всего {{filtered.length}} каналов, {{gcc.countUnbinded(filtered)}} непривязанных
<div class="row"
     ng-repeat="channel in filtered = (gc.getModel().channels | channelsFilter:gcc.filterName:gcc.filterGroup:gcc.filterBinded) | orderBy: 'name'">
        <span class="col-md-4">
            <a editable-text="channel.name">{{ channel.name || 'empty' }}</a>
        </span>
        <span class="col-md-2">
            <a editable-select="channel.guideId" onshow="gcc.loadGroups()"
               e-ng-options="g.id as g.name for g in gcc.getGroups()">
                {{channel.guideId || '&lt;пусто&gt;'}}
            </a>
        </span>
</div>
</p>
