<div class="jumbotron">
    <div class="row">
        <span class="col-lg-3"><input type="text" placeholder="Название" ng-model="search.name"></span>
        <span class="col-lg-2"><input type="text" placeholder="Группа" ng-model="search.group"></span>
        <span class="col-lg-4">
            <input type="checkbox" name="options" value="2"/> Непривязаные к телепрограмме
        </span>
    </div>
</div>

<ol class="channels">
    <li ng-repeat="channel in gc.tv.channels | filter:search">
        <h2>{{channel.name}}</h2>
        {{channel.xmltvId}}
        {{channel.timeShift}}
        <a href="#/channels" editable-text="channel.name">{{ channel.name || 'empty' }}</a>
    </li>
</ol>