<h3>Группы</h3>
<tv-json-edit json="cg.getModel().groups" onsetjson="cg.checkModified" file-name="groups.json">
	<ol class="groups">
		<li ng-repeat="group in cg.getModel().groups" style="padding-bottom: 20px;">
			<h4 style="position: relative;">
				<button type="button" class="btn btn-default" style="top: 25px; left: -38px; position: absolute;"
						ng-class="$last?'invisible':''"
						ng-click="cg.reorder($index)">
					<span class="glyphicon glyphicon-sort"></span>
				</button>
				<span class="group">{{group}}</span>
			</h4>
		</li>
	</ol>
</tv-json-edit>
<button class="btn btn-primary" ng-click="cg.save()" ng-disabled="!cg.isModified()">
	<span class="glyphicon glyphicon-ok"></span>
	Save
</button>
<button class="btn btn-default" ng-click="cg.revert()" ng-disabled="!cg.isModified()">
	<span class="glyphicon glyphicon-refresh"></span>
	Revert
</button>
