body {
	padding-top: 70px;
}

.ui-table {

}

.ui-table tr.filter th {
	padding-right: 5px;
}

.ui-table tr.filter input {
	width: 100%;
}

.jumbotron input[type=text] {
	width: 100%;
}

a[ng-click] {
	cursor: pointer;
}

div.editable-controls.form-group {
	display: flex;
}

div.editable-controls.form-group select {
	z-index: 100;
}

.container .jumbotron {
	padding: 0;
}

.jumbotron .dropdown {
	display: inline-block;
}